body{
	background-color:white;
	font-family:Merienda;

}

#home, #works,#about{
	
	background:azure;
	width:100%;
	padding-top:45px;


	
}

#works,#home{
	background:navy;
	color:white;
	height:auto;
	padding:45px;
	
}

#about,#contacts{
		height:600px;
		padding:45px;
}
#home{
	height:auto;
	padding:50px;
}
.carousel-inner {
    position: relative;
    width: 50%;

    height: 60%;
    margin: auto;
}
.carousel-indicators li {
	background-color: black;
}

.carousel-indicators .active {
	background-color: red;
}




